script
  include ../public/javascripts/moment.min.js
script
  include ../public/javascripts/daterangepicker.min.js
script
  include ../public/javascripts/jquery.validate.min.js
script
  include ../public/javascripts/messages_es.min.js